.alerts {
  text-align: center;
  border:  1px solid lightgray;
  width: 114px;
  background-color: #F7F7F7;

  @include transition-property(width, background, border-color, color);
  @include transition-duration(.75s);
  @include transition-timing-function(linear);

  &.alerts__active {
    background-color: #E24A4A;
    border-color: #E24A4A;
    width: 200px;
    color: #fff;
    font-family: Lato;
  }

  .copy {
    line-height: 16px;
    font-size: 1.2em;
    padding: 10px 20px;
    font-weight: 300;
    font-family: Lato;
  }

}


