.caret-down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.caret-left-wrapper {
  .caret-left {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-right: 10px solid;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .2;
  }
  &.active {
    .caret-left {
      cursor: pointer;
      opacity: 1;
      &:hover {
        opacity: .8;
      }
    }
  }
}

.caret-right-wrapper {
  .caret-right {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 10px solid;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .2;
  }
  &.active {
    .caret-right {
      cursor: pointer;
      opacity: 1;
      &:hover {
        opacity: .8;
      }
    }
  }
}


