.kpi-chart {
    height: 150px;
    text-align: center;

    svg {
        margin: 0px 0px 0px 0px;
        width: 327px;
        height: 150px;
      // background-color: yellow;
    }
    font-size: 10px;
    color: #FFF;

    .axis path,
    .axis line {
        fill: none;
        stroke: #FFF;
        shape-rendering: crispEdges;
    }

    text {
        fill: #FFF;
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-variant: normal;
        font-weight: 300;
        text-rendering: optimizeLegibility;
    }

    .x.axis line {
//        display: none;
    }

    .x.axis path {
//        display: none;
    }

    .y.axis path {
//        display: none;
    }

    .y.axis line {
//        display: none;
    }

    .line-a, .line-b {
        fill: none;
        stroke-width: 3px;
    }

    .line-a {
        stroke: white;
    }

    .line-b {
        stroke:  #0086bd;
    }
    circle.circle-a {
      fill: white;
    }
    circle.circle-b {
      fill: #0086bd;
    }
}










