.chart {
  text {
    //font-size: 12px;
  }
}

.metric {
  .arrow {
    display: inline-block;
    width: inherit;
    height: 15px;
    background: no-repeat left bottom;
    background-size: contain;
  }
  .arrow.up {
    background-image: url("/sites/all/themes/xeros_theme/images/18px_up-red.png");
  }
  .arrow.down {
    background-image: url("/sites/all/themes/xeros_theme/images/18px_down-green.png");
  }
  .arrow.up.inverse {
    background-image: url("/sites/all/themes/xeros_theme/images/18px_up-green.png");
  }
  .arrow.down.inverse {
    background-image: url("/sites/all/themes/xeros_theme/images/18px_down-red.png");
  }
  .delta {
    display: inline-block;
  }
}