$color: #444;
$color-hover: #0087be;

$background-color: white;
$background-color-hover: #eee;

$border-color: #ccc;
$border-color-hover: #5ba0d0;

.dropdown {

  margin:0 0 10px 0;
  display: inline-block;
  // Override standard mixin
  a:hover {
    color: $color-hover;
    border-bottom: none;
  }


  dd, dt, ul {
    margin: 0px;
    padding: 0px;
  }
  dd {
    position: absolute;
    z-index: 9999;
  }
  a, a:visited {
    color: $color;
    text-decoration: none;
    outline: none;
  }
  a:hover {
    color: $color-hover;
  }
  dt a:hover {
    color: $color-hover;
    border: 1px solid $border-color-hover;
  }
  dt a {
    background-color: $background-color;
    display: block;
    padding-right: 20px;
    border: 1px solid $border-color;
    width: 160px;
    padding: 5px;
    span {
      cursor: pointer;
      display: block;
      &.caret-down {
        display: inline-block;
        float: right;
        margin-top: 9px;
      }
    }
  }
  dd ul {
    background: $background-color none repeat scroll 0 0;
    border: 1px solid $border-color;
    color: $color;
    display: none;
    left: 0px;
    position: absolute;
    top: 1px;
    width: auto;
    min-width: 170px;
    list-style: none;
    max-height:200px;
    overflow-y: auto;
    :focus {
      overflow-y: auto;
    }
  }

  span.value {
    display: none;
  }
  dd ul li a {
    padding: 5px;
    display: block;
  }
  dd ul li a:hover {
    background-color: $background-color-hover;
  }
}

img.flag {
  border: none;
  vertical-align: middle;
  margin-left: 10px;
}

.flagvisibility {
  display: none;
}

dl {

}

 #cal {
   position: absolute;
   right: 0;
   top: 46px;
   padding-right: 0;
   margin-right:0;
   background: white;
   border: 1px solid #ccc;
   border-radius: 0;
   margin-top: -11px;
   z-index: 1;
   display:none;
   padding-bottom: 15px;
 }
#cal.show {
  display:block;
}
#time-select__dl {
  /* border-bottom: 1px solid white; */
  /*position: relative;*/
  /*z-index: 10;*/
}
.dropdown dt a {
  /*border-bottom: 1px solid white;*/
}
.cal__button {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding-right: 18px;
}
.cal__button-submit, .cal__button-cancel {
  font-size: 11px;
  display: inline-block;
  color: #777;
  border: 1px solid $border-color;
  border-radius: 3px;
  line-height: 20px;
  padding: 1px 5px;
  margin: 5px 0 5px 3px;
  text-transform: uppercase;
}
.cal__button-submit:hover, .cal__button-cancel:hover {
  border: 1px solid $border-color-hover;
  background: $background-color-hover;
  color: #0087be;
  cursor: pointer;
}

.chart-header {
  position: relative;
  height: 65px;
}
// Hide these controls until we get them working
.download {
  display: none;
	font-size: 12px;
	margin-left: 3px;
	position: relative;
	
	a:link, a:visited {
		background-color: #aaa;
		margin-left: 5px;
		padding: 3px;
		border-radius: 3px;
		font-size: 11px;
		text-decoration: none;
		color: white;
	}
	
	a:hover, a:active {
		background-color:$border-color-hover;
	}
}

.data-range {
	font-size: 12px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.modal {
  .dropdown {
    dt {
     a {
       width: initial;
     }
    }

  }
}