/* entire container, keeps perspective */
.flip-container {
  $speed:0.6s;

  $backBackgroundColor:white;
  $backFontSize:12px;
  $navBarColor:white;
  $border:1px dotted grey;
  perspective: 1000;
  position:relative;

  width:185px;
  /* flip speed goes here */
  .flipper {
    transition: $speed;
    transform-style: preserve-3d;
    border:$border;
  }

  .flipper-navbar {
    width:185px;
    height:24px;
    //border-bottom: 1px dotted grey;
    background-color:$navBarColor;
    opacity:0.8;
    overflow: hidden;
    .flipper-navbtn {

      padding-top: 2px;
      position: relative;
      float:right;
      padding-right:2px;
      font-size: 20px;
      text-align: right;
      height:24px;
      cursor: pointer;
      opacity: .75;
      &:hover {
        opacity: 1;
      }
    }
  }

  .front, .back {
    backface-visibility: hidden;

  }

  /* front pane, placed above back */
  .front {
   z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    position: relative;
    top:0px;
    width:185px;
    .flipper-navbtn {
      width:190px;
      margin-right:-1px;
    }
  }
  /* back, initially hidden pane */
  .back {
    font-size: $backFontSize;
    top:0;
    left:0;
    background-color: $backBackgroundColor;
    transform: rotateY(180deg);
    position:absolute;
    height: 80px;
    padding: 0px;
    margin: 0px;
    //left: -25px;
    //margin-left:13px;
    text-align: left;
    width:185px;
    .flipper-closebtn {
    padding-right: 2px;
  }

  }
  .flipback-backcontainer{
    overflow: hidden;
    height:auto;
    width:auto;
    margin-left:25px;
  }
}


/* flip the pane when hovered */
//.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}


