/* entire container, keeps perspective */
.flip-container {
  $speed:0.6s;

  $backBackgroundColor:white;
  $backFontSize:12px;
  $navBarColor:white;
  $border:1px solid rgba(68,68,68, .25);
  $font-color:#444;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  position:relative;

  /* flip speed goes here */
  .flipper {
    @include transition(transform .4s linear);

    transform-style: preserve-3d;

  }

  .flipper-navbar {


    text-align: right;
    height:30px;
    .flipper-navbtn {
      position: absolute;
      top: 4px;
      right: 4px;
      font-size: 20px;
      font-weight: 200;
      color: $font-color;
      cursor: pointer;
      opacity: 1;

      &.flipper-openbtn {

      }

      &.flipper-closebtn {

      }

      &:hover {
        opacity: 1;
        color:#0086bd;
      }

    }
  }

  .front, .back {
    border:$border;
    @include box-shadow(1px 1px 3px rgba(50,50,50,.25));
    background-color: $backBackgroundColor;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;


    position: absolute;
    top: 0;
    left: 0;

  }

  /* front pane, placed above back */
  .front {
   // z-index: 2;
    /* for firefox 31 */

    //@include transform(rotateY(0deg));
    position: relative;
    top:0px;
  }
  /* back, initially hidden pane */
  .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    font-size: $backFontSize;

    //position:absolute;
    top:0;
    left:0;
    background-color: $backBackgroundColor;
//opaccity:0;
    @include transform(rotateY(180deg));

  }
  .flipper-frontcontainer {
    padding-top:5px;
  }

  .flipper-backcontainer {
    overflow: auto;

    padding: 0px 6px;
  }
}


/* flip the pane when hovered */
//.flip-container:hover .flipper,
.flip-container.hover .flipper {



  //@include transform(rotateY(180deg));
}


.flip-container.hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}


.flip-container.hover .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

