$top-row-height: 2em;


.top-border {
  height: $top-row-height;
  width: 100%;
  background-color: $header-background-color;
  position: absolute;
  float: left;
}
h1 {
	margin-bottom:0;
}
.header {
  position: relative;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  color: $font-accent-color;
  margin-bottom: 20px;
  min-height: 80px;
  .block {
    margin-bottom: 0;
  }
  .header__logo {
    position: absolute;
    top: 10px;
	margin-left: -12px;
    overflow: visible;
    a {
      display: block;
      height: 76px;
      width: 177px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-image:url("/sites/all/themes/xeros_theme/images/sbeadycare_logo.png");
    }
  }

  .header__row-1 {
    //background-color: $header-background-color;
    position: relative;
    text-align: right;
    line-height: $top-row-height;
    ul.menu {
      display: inline-block;
      @include horizontal-list;
      li {
        text-transform: uppercase;
        margin-left: 10px;
		font-size: 75%;
      }
      a, a:hover, a:visited {
        color: $font-accent-color;
		border:0;
      }
    }
  }
  .header__row-2 {
    line-height: $top-row-height;
    text-align: left;
    ul.menu {
      display: inline-block;
      @include horizontal-list;
      margin-left: 250px;
	  margin-top: -12px;
      li {
        text-transform: uppercase;
        background-color: $navbutton-base;
        @include filter-gradient($navbutton-highlight, $navbutton-base, vertical);
        @include background(linear-gradient(top, $navbutton-highlight, $navbutton-base));
		@include border-radius(0px 0px 7px 7px);
		margin-right: 10px;
        color: #fff;
        font-size:90%;
        padding: 0;
        &.active {
          background-color: #0086bd;//lighten($navbutton-base, 10%);
        }
		&:hover {
          background-color: $navbutton-highlight;
		  background: lighten($navbutton-base, 10%);
		}
        a {
          display: block;
          text-decoration: none;
          color: inherit;
          padding: 0 10px !important;
        }
      }

    }
    .header__welcome {
      color: $font-color;
      display: inline-block;
      float: right;
	  font-size: 80%;
      margin-top: -40px;
      line-height: 1.5em;
      text-align: right;
    }

  }
}

.admin-menu {
  .header {
      margin-top: 24px;
  }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  /* Retina-specific stuff here */
  .header .header__logo a {
    background-image:url("/sites/all/themes/xeros_theme/images/sbeadycare_logo_2x.png");
    background-size: 177px 76px;
  }
}


.lang-dropdown-select-element  {
  float:right;
  margin-left:12px;
  margin-top:6px;
  z-index: 99;
}

#block-lang-dropdown-language {
  z-index: 99;
}