.legend {
  font-weight: 300;
  font-size: 12px;
  left: 0px;
  top: 00px;
  position: absolute;
  line-height: 20px;
  .column {
    float: left;
    margin-right: 20px;
  }
  .label {
    margin-left: 5px;
  }
  .swatch {
    width: 20px;
    height: 12px;
    display: inline-block;
    margin-left: 3px;
    margin-bottom: -1px;
    &.current {
      background-color: rgb(153, 153, 153);
      border: 1px solid rgb(153, 153, 153);
    }
    &.model {
      background-color: $font-accent-color;
      border: 1px solid $font-accent-color;
    }
//    &.xeros {
//      background-color: $font-accent-color;
//      border: 1px solid $font-accent-color;
//    }
  }
}