
#page-3 {
  opacity: 1;
  z-index: 0;
  width: 980px;
  margin-left: auto;
  margin-right: auto;

  $col-width: 90px;
  $col-gutter: (.25 * $col-width);
  $row-height: .8 * $col-width;

  &.active {
    z-index: 10;
  }
  .consumption-details-container {
    position: relative;
    overflow: hidden;
    min-height: 400px;
    .select {
      display: inline-block;
      //margin-top: 45px;
    }

    .report__select {
      margin-left: 500px;
    }
    .line {
      margin-top: 10px;
      margin-bottom: 0px;
      border-top: 1px dashed $font-color;
    }
    .template-container {
        margin-top: 28px;
      @include single-transition(opacity, .3s, ease-in, 0);
      &.fade {
        opacity: .5;
      }
    }
    .container{
      .section-wrapper {
//        display:none;
        &.show {
          display: block;
        }
      }
      margin-top: 25px;
      max-height: 800px;
      overflow-x: hidden;
      overflow-y: scroll;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -ms-overflow-y: scroll;
      .machine {
        position: absolute;
        text-align: center;
        .icon-Washer {
          font-size: 80px;
          display: block;
        }
      }
      .row {
        overflow: hidden;
        margin-top: 10px;
        margin-left: 150px;
        &.row-title.first {
          margin-top: 0px;
        }
        &.row-data.first {
          border-bottom: 1px dashed gray;
		  margin-bottom: 35px;
        }
        .title {
          font-size: 20px;
          color: #444;
          font-weight: 400;
        }

        .top, .bottom {
          height: $row-height;
          text-align: center;
          vertical-align: middle;
        }
        .top {
          border: 1px solid $font-color;
          border-bottom: none;
        }
        .bottom {
          border-color: $font-accent-color;
          background-color: $font-accent-color;
          color: white;
        }

        .label {
          font-size: .7em;
          font-weight: 300;
        }
        .value {
          font-size: 1.8em;
          font-weight: 300;
        }
        .top .value {
          padding-top: 5px;
        }


        .box {
          display: inline-block;
          margin-left: $col-gutter;
        }
        .col-1 {
          width: 1 * $col-width;
          margin-left: 0px;
        }
        .col-2 {
          width: 1 * $col-width;
        }
        .col-3 {
          width: 1.5 * $col-width;
        }
        .col-4 {
          width: 2 * $col-width;
        }
        $col-5-width: 15px;
        .col-5 {
          width: $col-5-width;
          margin-left: ($col-gutter) - (15px / 2);
          .top, .bottom {
            background-color: white;
            border-color: white;
            //color: white;
          }
          .bottom {
            color: $font-accent-color;
          }

        }
        .col-6 {
          width: 2 * $col-width;
          margin-left: ($col-gutter) - ($col-5-width / 2);
          .top {
            background-color: $font-accent-color;
            color: white;
          }
          .top, .bottom {
            border-color: $font-accent-color;
          }
        }
      }



    }
  }

  .legend .swatch.current {
    background-color: white;
    border: 1px solid gray;
  }
}
