.controls__section {
  padding: 5px 0;
  position: relative;
  > * {
    padding: 5px 0;
  }
}
.controls {
  border: 1px solid #444;
  padding: 3px 6px;
  border-radius: 5px;
  //.filter {
    opacity: 1;
    &.hide,
    &.active {
      //background-color: #ddd;
      opacity: .5;
    }
  //}
  margin: 0 2px;
  display: inline-block;
  //min-width: 30px;

}

.controls__label {
  display: inline-block;
}

.machine {
  &.hide {
    display: none;
  }
}


.controls__details {
  display: inline-block;
}
.controls__model {
  display: inline-block;
  .controls {
    &.xeros {
      color: #0086bd;
      &:before {
        font-family: xeros-icon;
        content: "\e60c";
      }
    }
    &.non-xeros {
      &:before {
        color: gray;
        font-family: xeros-icon;
        content: "\e605";
      }
    }
  }
}

.display-icon {
  .controls__details {
    .controls {
      .status-icon:before {
        font-family: xeros-icon;
        content: "\e60c";
      }
      &.green {
        border: 1px solid $color-green;
        color: $color-green;

      }
      &.red {
        border: 1px solid $color-red;
        color: $color-red;
      }
      &.yellow {
        border: 1px solid $color-yellow;
        color: $color-yellow;
      }
      &.grey {
        border: 1px solid $color-grey;
        color: $color-grey;
      }
    }
  }
}
.page-ops__key {
  display: inline-block;
}

.countdown-timer {
  position: absolute;
  bottom: 0;
  left: calc(50% - 100px);
  width: 200px;
  text-align: center;
  background-color: rgba(255,255,255,.7);
  font-size: .8em;
}

@media all and (min-width: 1200px) {

  .controls__display {
    position: absolute;
    right: 0;
    bottom: 5px;
  }

}