body.full-screen {
  #admin-menu,
  .top-border,
  .header,
  .footer
  {
    display: none;
  }

  #content {
    padding: 10px 10px 25px 10px !important;
  }
  h2, h3 {
    font-size: 16px;
  }
  .machine {
    padding: 0 10px;
    margin: 0 10px;
  }
  .controls.full-screen {
    display: none;
  }
}

