
.page-ops__key {
  background-color: rgba(255,255,255, .9);
  //padding: 5px 30px 5px 5px;
  position: relative;
  //top: 0;
  //right: 0;
  .key__header {
    //text-align: right;
  }
  .key__title {
    display: inline-block;
  }
  .key__open-close {
    display: inline-block;
  }

  // details
  .key__details {
    max-width: 300px;
    display: none;
    .key__item {
      margin: 3px auto;
      position: relative;
      padding-left: 45px;
      height: 50px;
      vertical-align: middle;
      display: inline-block;
    }
    .key__item:before {
      position: absolute;
      top: 15px;
      left: 0;
    }
    .green {
      &:before {
        color: $color-green;
      }
    }
    .red {
      &:before {
        color: $color-red;
      }
    }
    .yellow {
      &:before {
        color: $color-yellow;
      }
    }
  }

  &.show {

    .key__details {
      display: block;
      border: 1px solid rgba(0,0,0, .7);
      padding: 30px;
      position: absolute;
      background-color: white;
      width: 300px;
    }
    // icon
    .key__open-close {
      @include transform(rotate(180deg));
    }

  }

  .display-block & {
    .key__details {
      .key__item:before {
        font-family: 'FontAwesome';
        font-size: 20px;
      }
      .green {
        &:before {
          content: '\f00c';
          color: $color-green;
        }
      }
      .red {
        &:before {
          content: '\f12a';
          color: $color-red;
        }
      }
      .yellow {
        &:before {
          content: '\f1ce';
          color: $color-yellow;
        }
      }
    }
  }
  .display-icon & {
    //border: 10px solid blue;
    .key__details {
      .key__item:before {
        font-family: 'xeros-icon';
        content: "\e60c";
        font-size: 40px;
      }
    }
  }
}



