
.page-ops__key {
  background-color: rgba(255,255,255, .9);
  padding: 5px 30px 5px 5px;
  position: absolute;
  top: 0;
  right: 0;
  .key__header {
    text-align: right;
  }
  .key__title {
    display: inline-block;
  }
  .key__open-close {
    display: inline-block;
  }

  // details
  .key__details {
    max-width: 300px;
    display: none;
    .key__item {
      margin: 3px auto;
      position: relative;
      i {
        position: absolute;
        left: 5px;
        top: 5px;
      }
      p {
        display: block;
        margin: 0;
        padding-left: 25px;
      }
    }
  }

  &.show {

    .key__details {
      display: block;
      border: 1px solid rgba(0,0,0, .7);
      padding: 30px;
    }
    // icon
    .key__open-close {
      @include transform(rotate(180deg));
    }
  }
}



