$color-red: red;
$color-yellow: orange;
$color-green: green;
$color-blue: blue;
$color-inactive: grey;

.page-ops {
  //background-color: blue;
  #content {
    padding: 30px;
  }
  color: black;

  h2,
  h3 {
    margin: 0;
    line-height: 1.5em;
  }

  h2 {
    font-weight: 300;
  }

  .page-wrapper {
    width: auto !important;

  }
  .page__title {
    //background-color: black !important;

  }

  .company {
    //border: 1px solid blue;
    //padding: 5px;
  }
  .location {
    //border: 1px solid yellow;
    //padding: 5px;
    padding-left: 20px;
    background-color: #ddd;
    .location__wrapper {
      background-color: #eee;
      margin: 0;
    }
  }
  .machine-list {
    padding-left: 20px;
    background-color: #ddd;
    .machine-list__wrapper {
      background-color: #eee;
      margin: 0;
    }
  }
  .machine {
    //margin: 10px;
    background-color: #eee;
  }

  .footer {
    position: relative;
  }

  .icon-Washer {
    font-size: 20px;
  }
  .Xeros .icon-Washer {
    font-size: 20px;
  }

  .company {
    margin-top: 5px;
    background-color: rgba(245,245,245, .9);
    .company__details-wrapper {
      //border: 1px solid yellow;
      background-color: rgba(200,200,200, .8);
      padding-left: 30px;
    }
    .company__details {
      background-color: rgba(245,245,245, .9);
    }
  }











}

.display-block {

  .machine__wrapper{
    border: 1px solid $color-inactive;
    background-color: #fff;
    color: $color-inactive;
    padding: 5px;
    @include box-shadow(0px 1px 1px 1px rgba(50, 50, 50, 0.5));
    &:hover {
      @include box-shadow(2px 2px 5px 1px rgba(50, 50, 50, 0.75));
    }
    > div {
      display: inline-block;
    }
    > i {
      display: inline-block;
    }
    .right {
      float: right;
      padding: 3px;
    }
    &.Xeros {
      background-color: #e5f4fa;
    }
  }

  .annotation {
    display: none;
  }

  .green {
    border: 1px solid $color-green;
    color: $color-green;
    .status-icon:before {
      content: "\f00c";
    }
  }
  .red {
    border: 1px solid $color-red;
    color: $color-red;
    .status-icon:before {
      content: "\f00d";
    }
  }
  .yellow {
    border: 1px solid $color-yellow;
    color: $color-yellow;
    .status-icon:before {
      content: "\f1ce";
    }
  }
  .blue {
    border: 1px solid $color-blue;
    color: $color-blue;
    .status-icon:before {
      content: "\f0e7";
    }
  }

  @media all and (min-width: 500px) {
    .machine {
      padding: 10px;
      margin: 10px;
      display: inline-block;
    }
    .title {
      display: block;
    }
  }

  @media all and (min-width: 500px) and (max-width: 999px)  {
    .machine {
      width: (99%/4);
    }
  }

  @media all and (min-width: 1000px) and (max-width: 1399px)  {
    .machine {
      width: (99%/6);
    }
  }

  @media all and (min-width: 1400px) {
    .machine {
      width: (99%/8);
    }
  }
}

.display-list {

  .machine__wrapper{
    //border: 1px solid $color-inactive;
    background-color: #fff;
    color: $color-inactive;
    padding: 5px;
    //@include box-shadow(0px 1px 1px 1px rgba(50, 50, 50, 0.5));
    &:hover {
      @include box-shadow(2px 2px 5px 1px rgba(50, 50, 50, 0.75));
    }
    > div {
      display: block;
    }

    .right {
      float: right;
      padding: 3px;
    }
    &.Xeros {
      background-color: #e5f4fa;
    }
  }

}




