$color-red: red;
$color-yellow: orange;
$color-green: green;
$color-blue: blue;
$color-inactive: grey;

.page-ops {
  //background-color: blue;
  #content {
    padding: 30px;
  }
  color: black;

  h2,
  h3 {
    margin: 0;
    line-height: 1.5em;
  }

  h2 {
    font-weight: 300;
  }

  .page-wrapper {
    width: auto !important;

  }
  .page__title {
    //background-color: black !important;

  }

  .company {
    //border: 1px solid blue;
    //padding: 5px;
  }
  .location {
    //border: 1px solid yellow;
    //padding: 5px;
    padding-left: 20px;
    background-color: #ddd;
    .location__wrapper {
      background-color: #eee;
      margin: 0;
    }
  }
  .machine-list {
    padding-left: 20px;
    background-color: #ddd;
    .machine-list__wrapper {
      background-color: #eee;
      margin: 0;
    }
  }
  .machine {
    //margin: 10px;
    background-color: #eee;
    //TODO: set this dynamically

  }
//  .machine__wrapper {
//    height: 75px;
//    width: 75px;
//  }

  .footer {
    position: relative;
  }

  .icon-Washer {
    font-size: 40px;
  }
  .Xeros .icon-Washer {
    font-size: 40px;
  }

  .company {
    margin-top: 5px;
    background-color: rgba(245,245,245, .9);
    .company__details-wrapper {
      //border: 1px solid yellow;
      background-color: rgba(200,200,200, .8);
      padding-left: 30px;
    }
    .company__details {
      background-color: rgba(245,245,245, .9);
    }
  }
  .company__container {
    background-color: rgba(245,245,245, .9);
    border-top: 2px solid white;
  }
}

// .display-block {
  .annotation {
    display: none;
  }

  .company__container {
    display: block;
    vertical-align: top;
    width: 100%;
  }
  .location__container {
    display: inline-block;
    vertical-align: top;
    //width: 400px;
  }
  .machine {
    padding: 3px;
    margin: 0px;
    display: inline-block;
  }
  @media all and (min-width: 500px) {

    .title {
      display: block;
    }
  }

  @media all and (min-width: 500px) and (max-width: 999px) {
    .machine {
      //width: (99%/4);
    }
  }

  @media all and (min-width: 1000px)  {
    .company__container {
      display: inline-block;
      vertical-align: top;
      width: 49.5%;
      width: calc(50% - 2px) ;
    }
    .machine {
      //width: (99%/6);
    }
  }

  @media all and (min-width: 1400px) {
    .machine {
      //width: (99%/8);
    }
  }


//}