.machine-status {
  background-color: rgba(245,245,245, .9);
}

@include keyframes(pulse) {
  0%, 100% {
    background-color: rgba(255,0,0, .05);
    box-shadow: 2px 2px 1px 1px rgba(255, 0, 0, 0.1);
  }
  50% {
    background-color: rgba(255,0,0, .2);
    box-shadow: 2px 2px 1px 1px rgba(255, 0, 0, 0.5);
  }
}

@include keyframes(pulse-blue) {
  0%, 100% {
    background-color: rgba(0,0,255, .05);
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 155, 0.1);
  }
  50% {
    background-color: rgba(0,0,255, .2);
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 255, 0.5);
  }
}

.machine .red.alert {
  @include animation(pulse 1s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000));
}

.machine .blue.alert {
  @include animation(pulse-blue 1s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000));
}