.machine-status {
  background-color: rgba(245,245,245, .9);
}

@include keyframes(pulse) {
  0%, 100% {
    background-color: rgba(255,0,0, .05);
    box-shadow: 2px 2px 1px 1px rgba(255, 0, 0, 0.5);
  }
  50% {
    background-color: rgba(255,0,0, .2);
    box-shadow: 2px 2px 1px 1px rgba(255, 0, 0, 0.5);
  }
}

.machine .red.alert {
  @include animation(pulse 1s infinite linear);
}
