/* line 7, ../sass/_layout.scss */
.page-ops {
  color: black;
}
/* line 9, ../sass/_layout.scss */
.page-ops #content {
  padding: 30px;
}
/* line 15, ../sass/_layout.scss */
.page-ops h2,
.page-ops h3 {
  margin: 0;
  line-height: 1.5em;
}
/* line 20, ../sass/_layout.scss */
.page-ops h2 {
  font-weight: 300;
}
/* line 24, ../sass/_layout.scss */
.page-ops .page-wrapper {
  width: auto !important;
}
/* line 37, ../sass/_layout.scss */
.page-ops .location {
  padding-left: 20px;
  background-color: #ddd;
}
/* line 42, ../sass/_layout.scss */
.page-ops .location .location__wrapper {
  background-color: #eee;
  margin: 0;
}
/* line 47, ../sass/_layout.scss */
.page-ops .machine-list {
  padding-left: 20px;
  background-color: #ddd;
}
/* line 50, ../sass/_layout.scss */
.page-ops .machine-list .machine-list__wrapper {
  background-color: #eee;
  margin: 0;
}
/* line 55, ../sass/_layout.scss */
.page-ops .machine {
  background-color: #eee;
}
/* line 60, ../sass/_layout.scss */
.page-ops .footer {
  position: relative;
}
/* line 64, ../sass/_layout.scss */
.page-ops .icon-Washer {
  font-size: 20px;
}
/* line 67, ../sass/_layout.scss */
.page-ops .Xeros .icon-Washer {
  font-size: 20px;
}
/* line 71, ../sass/_layout.scss */
.page-ops .company {
  margin-top: 5px;
  background-color: rgba(245, 245, 245, 0.9);
}
/* line 74, ../sass/_layout.scss */
.page-ops .company .company__details-wrapper {
  background-color: rgba(200, 200, 200, 0.8);
  padding-left: 30px;
}
/* line 79, ../sass/_layout.scss */
.page-ops .company .company__details {
  background-color: rgba(245, 245, 245, 0.9);
}

/* line 98, ../sass/_layout.scss */
.display-block .machine__wrapper {
  border: 1px solid grey;
  background-color: #fff;
  color: grey;
  padding: 5px;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.5);
}
/* line 104, ../sass/_layout.scss */
.display-block .machine__wrapper:hover {
  -webkit-box-shadow: 2px 2px 5px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 5px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 5px 1px rgba(50, 50, 50, 0.75);
}
/* line 107, ../sass/_layout.scss */
.display-block .machine__wrapper > div {
  display: inline-block;
}
/* line 110, ../sass/_layout.scss */
.display-block .machine__wrapper > i {
  display: inline-block;
}
/* line 113, ../sass/_layout.scss */
.display-block .machine__wrapper .right {
  float: right;
  padding: 3px;
}
/* line 117, ../sass/_layout.scss */
.display-block .machine__wrapper.Xeros {
  background-color: #e5f4fa;
}
/* line 122, ../sass/_layout.scss */
.display-block .annotation {
  display: none;
}
/* line 126, ../sass/_layout.scss */
.display-block .green {
  border: 1px solid green;
  color: green;
}
/* line 129, ../sass/_layout.scss */
.display-block .green .status-icon:before {
  content: "\f00c";
}
/* line 133, ../sass/_layout.scss */
.display-block .red {
  border: 1px solid red;
  color: red;
}
/* line 136, ../sass/_layout.scss */
.display-block .red .status-icon:before {
  content: "\f00d";
}
/* line 140, ../sass/_layout.scss */
.display-block .yellow {
  border: 1px solid orange;
  color: orange;
}
/* line 143, ../sass/_layout.scss */
.display-block .yellow .status-icon:before {
  content: "\f1ce";
}
/* line 147, ../sass/_layout.scss */
.display-block .blue {
  border: 1px solid blue;
  color: blue;
}
/* line 150, ../sass/_layout.scss */
.display-block .blue .status-icon:before {
  content: "\f0e7";
}
@media all and (min-width: 500px) {
  /* line 156, ../sass/_layout.scss */
  .display-block .machine {
    padding: 10px;
    margin: 10px;
    display: inline-block;
  }
  /* line 161, ../sass/_layout.scss */
  .display-block .title {
    display: block;
  }
}
@media all and (min-width: 500px) and (max-width: 999px) {
  /* line 167, ../sass/_layout.scss */
  .display-block .machine {
    width: 24.75%;
  }
}
@media all and (min-width: 1000px) and (max-width: 1399px) {
  /* line 173, ../sass/_layout.scss */
  .display-block .machine {
    width: 16.5%;
  }
}
@media all and (min-width: 1400px) {
  /* line 179, ../sass/_layout.scss */
  .display-block .machine {
    width: 12.375%;
  }
}

/* line 187, ../sass/_layout.scss */
.display-list .machine__wrapper {
  background-color: #fff;
  color: grey;
  padding: 5px;
}
/* line 193, ../sass/_layout.scss */
.display-list .machine__wrapper:hover {
  -webkit-box-shadow: 2px 2px 5px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 5px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 5px 1px rgba(50, 50, 50, 0.75);
}
/* line 196, ../sass/_layout.scss */
.display-list .machine__wrapper > div {
  display: block;
}
/* line 200, ../sass/_layout.scss */
.display-list .machine__wrapper .right {
  float: right;
  padding: 3px;
}
/* line 204, ../sass/_layout.scss */
.display-list .machine__wrapper.Xeros {
  background-color: #e5f4fa;
}

/* line 6, ../sass/_display-full-screen.scss */
body.full-screen #admin-menu,
body.full-screen .top-border,
body.full-screen .header,
body.full-screen .footer {
  display: none;
}
/* line 10, ../sass/_display-full-screen.scss */
body.full-screen #content {
  padding: 0 !important;
}
/* line 13, ../sass/_display-full-screen.scss */
body.full-screen h2, body.full-screen h3 {
  font-size: 16px;
}
/* line 16, ../sass/_display-full-screen.scss */
body.full-screen .machine {
  padding: 0 10px;
  margin: 0 10px;
}

/* line 2, ../sass/_machine-detail.scss */
.machine-detail {
  background-color: #eee;
  padding: 0;
  padding-top: 150px;
  position: fixed;
  top: 0;
  right: -50%;
  bottom: 0;
  width: 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: scroll;
}
/* line 15, ../sass/_machine-detail.scss */
.machine-detail.show {
  right: 0;
  -webkit-box-shadow: -2px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: -2px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: -2px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
/* line 20, ../sass/_machine-detail.scss */
.machine-detail .machine-detail__wrapper {
  padding: 30px;
}
/* line 24, ../sass/_machine-detail.scss */
.machine-detail .machine-detail__close {
  display: block;
  margin-bottom: 10px;
}
/* line 28, ../sass/_machine-detail.scss */
.machine-detail .icon-Washer {
  font-size: 40px !important;
  display: inline-block;
}
/* line 33, ../sass/_machine-detail.scss */
.machine-detail .machine-detail__title {
  display: inline-block;
}
/* line 37, ../sass/_machine-detail.scss */
.machine-detail .machine-detail__location {
  display: block;
}
/* line 41, ../sass/_machine-detail.scss */
.machine-detail .status {
  border-top: 1px dotted gray;
  padding-bottom: 30px;
}
/* line 43, ../sass/_machine-detail.scss */
.machine-detail .status .status-message {
  display: inline-block;
  padding: 5px;
  font-weight: 300;
  margin-bottom: 15px;
}
/* line 50, ../sass/_machine-detail.scss */
.machine-detail .status p {
  margin: 0;
}
/* line 54, ../sass/_machine-detail.scss */
.machine-detail .details {
  border-top: 1px dotted gray;
  padding-bottom: 30px;
}
/* line 57, ../sass/_machine-detail.scss */
.machine-detail .details p {
  margin: 0;
}
/* line 61, ../sass/_machine-detail.scss */
.machine-detail .log {
  border-top: 1px dotted gray;
}
/* line 63, ../sass/_machine-detail.scss */
.machine-detail .log .log__row {
  margin-bottom: 10px;
}
/* line 66, ../sass/_machine-detail.scss */
.machine-detail .log .log__timestamp {
  display: inline-block;
  font-style: italic;
}
/* line 70, ../sass/_machine-detail.scss */
.machine-detail .log .log__status {
  display: inline-block;
}
/* line 78, ../sass/_machine-detail.scss */
.machine-detail .comment {
  border-top: 1px dotted gray;
}

/* line 2, ../sass/_key.scss */
.page-ops__key {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 30px 5px 5px;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 8, ../sass/_key.scss */
.page-ops__key .key__header {
  text-align: right;
}
/* line 11, ../sass/_key.scss */
.page-ops__key .key__title {
  display: inline-block;
}
/* line 14, ../sass/_key.scss */
.page-ops__key .key__open-close {
  display: inline-block;
}
/* line 19, ../sass/_key.scss */
.page-ops__key .key__details {
  max-width: 300px;
  display: none;
}
/* line 22, ../sass/_key.scss */
.page-ops__key .key__details .key__item {
  margin: 3px auto;
  position: relative;
}
/* line 25, ../sass/_key.scss */
.page-ops__key .key__details .key__item i {
  position: absolute;
  left: 5px;
  top: 5px;
}
/* line 30, ../sass/_key.scss */
.page-ops__key .key__details .key__item p {
  display: block;
  margin: 0;
  padding-left: 25px;
}
/* line 40, ../sass/_key.scss */
.page-ops__key.show .key__details {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.7);
  padding: 30px;
}
/* line 46, ../sass/_key.scss */
.page-ops__key.show .key__open-close {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 1, ../sass/_controls.scss */
.controls {
  border: 1px solid #444;
  padding: 3px;
  border-radius: 2px;
  background-color: #fff;
}
/* line 8, ../sass/_controls.scss */
.controls.hide, .controls.active {
  background-color: #ddd;
}

/* line 15, ../sass/_controls.scss */
.machine.hide {
  display: none;
}
