/* line 7, ../sass/_layout.scss */
.page-ops {
  color: black;
}
/* line 9, ../sass/_layout.scss */
.page-ops #content {
  padding: 30px;
}
/* line 15, ../sass/_layout.scss */
.page-ops h2,
.page-ops h3 {
  margin: 0;
  line-height: 1.5em;
}
/* line 20, ../sass/_layout.scss */
.page-ops h2 {
  font-weight: 300;
}
/* line 24, ../sass/_layout.scss */
.page-ops .page-wrapper {
  width: auto !important;
}
/* line 37, ../sass/_layout.scss */
.page-ops .location {
  padding-left: 20px;
  background-color: #ddd;
}
/* line 42, ../sass/_layout.scss */
.page-ops .location .location__wrapper {
  background-color: #eee;
  margin: 0;
}
/* line 47, ../sass/_layout.scss */
.page-ops .machine-list {
  padding-left: 20px;
  background-color: #ddd;
}
/* line 50, ../sass/_layout.scss */
.page-ops .machine-list .machine-list__wrapper {
  background-color: #eee;
  margin: 0;
}
/* line 55, ../sass/_layout.scss */
.page-ops .machine {
  background-color: #eee;
}
/* line 61, ../sass/_layout.scss */
.page-ops .machine__wrapper {
  height: 75px;
  width: 75px;
}
/* line 66, ../sass/_layout.scss */
.page-ops .footer {
  position: relative;
}
/* line 70, ../sass/_layout.scss */
.page-ops .icon-Washer {
  font-size: 40px;
}
/* line 73, ../sass/_layout.scss */
.page-ops .Xeros .icon-Washer {
  font-size: 40px;
}
/* line 77, ../sass/_layout.scss */
.page-ops .company {
  margin-top: 5px;
  background-color: rgba(245, 245, 245, 0.9);
}
/* line 80, ../sass/_layout.scss */
.page-ops .company .company__details-wrapper {
  background-color: rgba(200, 200, 200, 0.8);
  padding-left: 30px;
}
/* line 85, ../sass/_layout.scss */
.page-ops .company .company__details {
  background-color: rgba(245, 245, 245, 0.9);
}
/* line 89, ../sass/_layout.scss */
.page-ops .company__container {
  background-color: rgba(245, 245, 245, 0.9);
  border-top: 2px solid white;
}

/* line 98, ../sass/_layout.scss */
.display-block .machine__wrapper {
  border: 1px solid grey;
  background-color: #fff;
  color: grey;
  padding: 5px;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.5);
}
/* line 104, ../sass/_layout.scss */
.display-block .machine__wrapper:hover {
  -webkit-box-shadow: 2px 2px 5px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 5px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 5px 1px rgba(50, 50, 50, 0.75);
}
/* line 107, ../sass/_layout.scss */
.display-block .machine__wrapper .machine__icons {
  text-align: center;
}
/* line 109, ../sass/_layout.scss */
.display-block .machine__wrapper .machine__icons > i {
  display: block;
}
/* line 111, ../sass/_layout.scss */
.display-block .machine__wrapper .machine__icons > i.fa {
  font-size: 25px;
  padding-top: 5px;
}
/* line 117, ../sass/_layout.scss */
.display-block .machine__wrapper > div {
  display: inline-block;
}
/* line 120, ../sass/_layout.scss */
.display-block .machine__wrapper > i {
  display: inline-block;
}
/* line 123, ../sass/_layout.scss */
.display-block .machine__wrapper .right {
  float: right;
  padding: 3px;
}
/* line 127, ../sass/_layout.scss */
.display-block .machine__wrapper.Xeros {
  background-color: #e5f4fa;
}
/* line 132, ../sass/_layout.scss */
.display-block .annotation {
  display: none;
}
/* line 136, ../sass/_layout.scss */
.display-block .green {
  border: 1px solid green;
  color: green;
}
/* line 139, ../sass/_layout.scss */
.display-block .green .status-icon:before {
  content: "\f00c";
}
/* line 143, ../sass/_layout.scss */
.display-block .red {
  border: 1px solid red;
  color: red;
}
/* line 146, ../sass/_layout.scss */
.display-block .red .status-icon:before {
  content: "\f00d";
}
/* line 150, ../sass/_layout.scss */
.display-block .yellow {
  border: 1px solid orange;
  color: orange;
}
/* line 153, ../sass/_layout.scss */
.display-block .yellow .status-icon:before {
  content: "\f1ce";
}
/* line 157, ../sass/_layout.scss */
.display-block .blue {
  border: 1px solid blue;
  color: blue;
}
/* line 160, ../sass/_layout.scss */
.display-block .blue .status-icon:before {
  content: "\f0e7";
}
/* line 165, ../sass/_layout.scss */
.display-block .company__container {
  display: block;
  vertical-align: top;
  width: 100%;
}
/* line 170, ../sass/_layout.scss */
.display-block .location__container {
  display: inline-block;
  vertical-align: top;
}
/* line 175, ../sass/_layout.scss */
.display-block .machine {
  padding: 5px;
  margin: 0px;
  display: inline-block;
}
@media all and (min-width: 500px) {
  /* line 182, ../sass/_layout.scss */
  .display-block .title {
    display: block;
  }
}
@media all and (min-width: 1000px) {
  /* line 194, ../sass/_layout.scss */
  .display-block .company__container {
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
    width: calc(50% - 2px);
  }
}
/* line 212, ../sass/_layout.scss */
.display-block.show-details .machine__wrapper {
  width: 200px !important;
}
/* line 216, ../sass/_layout.scss */
.display-block.show-details .annotation {
  display: inline;
}

/* line 6, ../sass/_display-full-screen.scss */
body.full-screen #admin-menu,
body.full-screen .top-border,
body.full-screen .header,
body.full-screen .footer {
  display: none;
}
/* line 10, ../sass/_display-full-screen.scss */
body.full-screen #content {
  padding: 0 !important;
}
/* line 13, ../sass/_display-full-screen.scss */
body.full-screen h2, body.full-screen h3 {
  font-size: 16px;
}
/* line 16, ../sass/_display-full-screen.scss */
body.full-screen .machine {
  padding: 0 10px;
  margin: 0 10px;
}

/* line 2, ../sass/_machine-detail.scss */
.machine-detail {
  z-index: 1000;
  background-color: #eee;
  padding: 0;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: scroll;
}
/* line 16, ../sass/_machine-detail.scss */
.machine-detail.show {
  right: 0;
  -webkit-box-shadow: -2px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: -2px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: -2px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
/* line 21, ../sass/_machine-detail.scss */
.machine-detail .icon-print {
  position: absolute;
  top: 30px;
  right: 30px;
}
/* line 28, ../sass/_machine-detail.scss */
.machine-detail .status-message,
.machine-detail .silence {
  display: inline-block;
}
/* line 30, ../sass/_machine-detail.scss */
.machine-detail .status-message i,
.machine-detail .silence i {
  margin-right: 5px;
}
/* line 34, ../sass/_machine-detail.scss */
.machine-detail .icon-silence {
  margin-left: 10px;
}
/* line 37, ../sass/_machine-detail.scss */
.machine-detail .machine-detail__wrapper {
  padding: 30px;
}
/* line 41, ../sass/_machine-detail.scss */
.machine-detail .machine-detail__close {
  display: block;
  margin-bottom: 10px;
}
/* line 45, ../sass/_machine-detail.scss */
.machine-detail .icon-Washer {
  font-size: 40px !important;
  display: inline-block;
}
/* line 50, ../sass/_machine-detail.scss */
.machine-detail .machine-detail__title {
  display: inline-block;
}
/* line 54, ../sass/_machine-detail.scss */
.machine-detail .machine-detail__location {
  display: block;
}
/* line 58, ../sass/_machine-detail.scss */
.machine-detail .status {
  border-top: 1px dotted gray;
  padding-bottom: 30px;
}
/* line 60, ../sass/_machine-detail.scss */
.machine-detail .status .status-message {
  display: inline-block;
  padding: 5px;
  font-weight: 300;
  margin-bottom: 15px;
}
/* line 67, ../sass/_machine-detail.scss */
.machine-detail .status p {
  margin: 0;
}
/* line 71, ../sass/_machine-detail.scss */
.machine-detail .details {
  border-top: 1px dotted gray;
  padding-bottom: 30px;
}
/* line 74, ../sass/_machine-detail.scss */
.machine-detail .details p {
  margin: 0;
}
/* line 78, ../sass/_machine-detail.scss */
.machine-detail .log {
  border-top: 1px dotted gray;
}
/* line 80, ../sass/_machine-detail.scss */
.machine-detail .log .log__row {
  margin-bottom: 10px;
}
/* line 83, ../sass/_machine-detail.scss */
.machine-detail .log .log__timestamp {
  display: inline-block;
  font-style: italic;
}
/* line 87, ../sass/_machine-detail.scss */
.machine-detail .log .log__status {
  display: inline-block;
}
/* line 95, ../sass/_machine-detail.scss */
.machine-detail .comment {
  border-top: 1px dotted gray;
}
@media screen and (min-width: 800px) {
  /* line 2, ../sass/_machine-detail.scss */
  .machine-detail {
    right: -50%;
    width: 50%;
  }
}

/* line 1, ../sass/_machine-status.scss */
.machine-status {
  background-color: rgba(245, 245, 245, 0.9);
}

@-webkit-keyframes throb {
  /* line 6, ../sass/_machine-status.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 7, ../sass/_machine-status.scss */
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes throb {
  /* line 11, ../sass/_machine-status.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 12, ../sass/_machine-status.scss */
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes throb {
  /* line 16, ../sass/_machine-status.scss */
  0% {
    -o-transform: rotate(0deg);
  }

  /* line 17, ../sass/_machine-status.scss */
  100% {
    -o-transform: rotate(359deg);
  }
}

@keyframes throb {
  /* line 21, ../sass/_machine-status.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 22, ../sass/_machine-status.scss */
  100% {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes pulse {
  /* line 27, ../sass/_machine-status.scss */
  0% {
    -webkit-box-shadow: 2px 2px 1px 1px rgba(255, 0, 0, 0.5);
  }

  /* line 28, ../sass/_machine-status.scss */
  50% {
    -webkit-box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.5);
  }

  /* line 29, ../sass/_machine-status.scss */
  100% {
    -webkit-box-shadow: 2px 2px 1px 1px rgba(255, 0, 0, 0.5);
  }
}

@-moz-keyframes pulse {
  /* line 34, ../sass/_machine-status.scss */
  0% {
    -moz-box-shadow: 0px 2px 1px 1px rgba(50, 50, 255, 0.5);
  }

  /* line 35, ../sass/_machine-status.scss */
  100% {
    -moz-box-shadow: 0px 2px 1px 1px rgba(50, 50, 0, 0.5);
  }
}

@-o-keyframes pulse {
  /* line 39, ../sass/_machine-status.scss */
  0% {
    -o-box-shadow: 0px 2px 1px 1px rgba(50, 50, 255, 0.5);
  }

  /* line 40, ../sass/_machine-status.scss */
  100% {
    -o-box-shadow: 0px 2px 1px 1px rgba(50, 50, 0, 0.5);
  }
}

@keyframes pulse {
  /* line 44, ../sass/_machine-status.scss */
  0% {
    box-shadow: 7px 7px 1px 1px rgba(255, 0, 0, 0.5);
  }

  /* line 45, ../sass/_machine-status.scss */
  50% {
    box-shadow: 7px 7px 1px 1px rgba(0, 0, 0, 0.5);
  }

  /* line 46, ../sass/_machine-status.scss */
  100% {
    box-shadow: 7px 7px 1px 1px rgba(255, 0, 0, 0.5);
  }
}

/* line 51, ../sass/_machine-status.scss */
.machine .red {
  -webkit-animation: pulse 1s infinite linear;
  -moz-animation: pulse 1s infinite linear;
  -o-animation: pulse 1s infinite linear;
  animation: pulse 1s infinite linear;
}

/* line 2, ../sass/_key.scss */
.page-ops__key {
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
}
/* line 11, ../sass/_key.scss */
.page-ops__key .key__title {
  display: inline-block;
}
/* line 14, ../sass/_key.scss */
.page-ops__key .key__open-close {
  display: inline-block;
}
/* line 19, ../sass/_key.scss */
.page-ops__key .key__details {
  max-width: 300px;
  display: none;
}
/* line 22, ../sass/_key.scss */
.page-ops__key .key__details .key__item {
  margin: 3px auto;
  position: relative;
}
/* line 25, ../sass/_key.scss */
.page-ops__key .key__details .key__item i {
  position: absolute;
  left: 5px;
  top: 5px;
}
/* line 30, ../sass/_key.scss */
.page-ops__key .key__details .key__item p {
  display: block;
  margin: 0;
  padding-left: 25px;
}
/* line 40, ../sass/_key.scss */
.page-ops__key.show .key__details {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.7);
  padding: 30px;
  position: absolute;
  background-color: white;
  width: 300px;
}
/* line 49, ../sass/_key.scss */
.page-ops__key.show .key__open-close {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 1, ../sass/_controls.scss */
.controls__section {
  padding: 10px 0;
  position: relative;
}

/* line 5, ../sass/_controls.scss */
.controls {
  border: 1px solid #444;
  padding: 3px 6px;
  border-radius: 2px;
  opacity: 1;
  margin: 0 2px;
  display: inline-block;
}
/* line 12, ../sass/_controls.scss */
.controls.hide, .controls.active {
  opacity: .5;
}

/* line 23, ../sass/_controls.scss */
.machine.hide {
  display: none;
}

/* line 29, ../sass/_controls.scss */
.controls__details {
  display: inline-block;
}

/* line 32, ../sass/_controls.scss */
.page-ops__key {
  display: inline-block;
}

@media all and (min-width: 800px) {
  /* line 38, ../sass/_controls.scss */
  .controls__display {
    position: absolute;
    right: 0;
    top: 0;
  }
}
