#dai-meter-collection-form {
    margin-bottom: 600px;
}

.button {
    display: inline-block;
    border: 1px solid blue;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.button.inactive {
    border: 1px solid #ddd;
    color: #ddd;
    cursor: auto;
}

.classification__show, .expand {
    color: blue;
}

.classification__show:hover, .expand:hover {
    color: red;
}

.details {
    background: yellow;
    border: 1px solid blue;
}
.details table {
    margin: 0;
}
.details td {
    padding: 10px;
    color: initial;
}
.details .details__close {
    margin: 0;
    float: right;
}

.classification-form {
    color: initial;
    position: absolute;
    border: 1px solid blue;
    background: yellow;
    padding: 10px;
    z-index: 10;

}
.classification__drag {
    cursor: move;
    float: right;
}
.classification_id {
    position: relative;
}

.classification-form table {
    width: 800px;
    margin: 0;
}

.classification-form tr:hover {
    background-color: #ddd;
}

.classification-form tr:active {
    background-color: #aaa;
}

.classification-form tr.active {
    background-color: #66CCFF;
}