.table-select-processed > tbody > tr > td.classification_id, .expand {
    color: blue;
}
.table-select-processed > tbody > tr > td.classification_id:after, .expand:after {
    content: '\f107';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin:0px 0px 0px 10px;
    text-decoration:none;
}

.table-select-processed > tbody > tr >  td.classification_id:hover, .expand:hover {
    color: red;
}

.details {
    background: yellow;
    border: 1px solid blue;

}

.details td {
    padding: 10px;
    color: initial;
}

.classification-form {
    color: initial;
    position: absolute;
    border: 1px solid blue;
    background: yellow;
    padding: 10px;
    z-index: 10;
}
.classification_id {
    position: relative;
}

.classification-form table {
    width: 800px;
}

.classification-form tr:hover {
    background-color: #ddd;
}

.classification-form tr:active {
    background-color: #aaa;
}