.chart {
  text {
    //font-size: 12px;
  }
}

.metric {
  .arrow {
    display: inline-block;
    width: inherit;
    background: no-repeat left bottom;
    background-size: contain;
    &:after {
      font-family: FontAwesome;
    }
  }
  .delta {
    display: inline-block;
  }
  // If the difference between actual and model is positive
  &.delta-up {
    .arrow {
      &:after {
        color: #ff0000;
        content: "\f062";
      }
    }
  }
  // If the difference between actual and model is negative
  &.delta-down {
    .arrow {
      &:after {
        color: #00c900;
        content: "\f063";
      }
    }
  }
  // If actual and model are equal
  &.delta-none {
    .arrow {
      opacity: 0;
    }
  }
}