.kpi-chart {
    height: 150px;
    text-align: center;

    svg {

    }

    .axis path,
    .axis line {

    }


    .x.axis line {
    }

    .x.axis path {
    }

    .y.axis path {
    }
    .y.axis line {
    }

    .line-a, .line-b {
        fill: none;
    }
// TODO: Make this context sensitive based on type of chart (xeros/non-xeros)
    .line-a {
        stroke: white;
    }

    .line-b {
        stroke:  #0086bd;
    }
    circle.circle-a {
      fill: white;
    }
    circle.circle-b {
      fill: #0086bd;
    }
  &.xeros {
    .line-a {
      stroke:  #0086bd;
    }
    .line-b {
      stroke: lightgray;
    }
    circle.circle-a {
      fill: #0086bd;
    }
    circle.circle-b {
      fill: lightgray;
    }
  }
}










